@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: inline;
  width: 660px;
  margin: 0 auto 30px;
}
.one ul {
  padding: 1em 0;
  background: #a68b5c;
}
.one a {
  padding: 1em;
  background:#b49463;
  border-right: 1px solid #a68b5c;
  color: #e4ecfc;
}
.one a:hover {background: rgb(59, 77, 58,0.6); color: #acc4cc;}
.one li {
  display: inline;
}