body {
    background-image: url('fon1.jpg'); /* Фоновый цвет и фоновый рисунок*/
    color: white;
}
/* coding with nick */

.container{
    text-transform: uppercase;
    text-align: left;
    color: white;
    padding: 20px;
}
.container h1{
    color: white;
    font-size: 40px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 70px;
    margin: 14px 0px;
}
.button{

}
.button:hover{
    background-color: white;
    color: black;
}
.text{
    width: 100%;
    margin-top:185px ;
    text-transform: uppercase;
    text-align: center;
    color: white;

}
.text h4{
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}
.text h1{s
    font-size: 62px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}
.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: rgba(255,255,255, 0.164);
    color: white;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 300px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}
/* coding with nick */