<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}">
</head>
<body>
<div class="container">
     <h1>Войти</h1>
  <form>
    <div class="row">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="submit" value="Войти">
            <p>Еще нет аккаунта? <a href="{{ '/pages/register' }}">Зарегистрироваться</a>.</p>
    </div>
  </form>
</div>

</body>
</html>