{% extends "menu.html"%}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='paint.css') }}">
    <title>Paint</title>
     <script src="/static/paint.js"></script>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="featured-news">

            <div id="palette"></div>
            <form >
            <canvas id='canvas' width="600" height="600">Ваш браузер устарел!</canvas>
                 <button type="submit" class="button">Добавить изображение</button>
            </form>
            <div class="button-block">
                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Перетаскивайте файлы сюда</span>
                    или
                    <input type="file" id="images" accept="image/*" required>
                </label>
                <div id="clear">Очистить изображение</div>
                <div id="save">Сохранить изображение</div>
                <div id="gallery">Добавить изображение в галерею</div>

            </div>
                </form>
        </div>
    </div>
{% endblock %}
