<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='register.css') }}">
</head>
<body >
<form>
  <div class="container">
    <h1>Регистрация</h1>
    <p>Пожалуйста заполните эту форму для создания аккаунта</p>
    <hr>

    <label><b>Email</b></label>
    <input type="text" placeholder="Введите Email" name="email" required>

    <label><b>Имя пользователя</b></label>
    <input type="text" placeholder="Введите имя пользователя" name="email" required>

    <label><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <label><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите Password" name="psw-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Регистрировать</button>
    <p>Уже есть аккаунт? <a href="{{ '/pages/auth' }}">Войти</a>.</p><br>
  </div>


</form>
</body>
</html>