<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="register.css" rel="stylesheet">
</head>
<body class=”bg-image”>
<form>
  <div class="container">
    <h1>Регистрация</h1>
    <p>Пожалуйста заполните эту форму для создания аккаунта</p>
    <hr>

    <label><b>Email</b></label>
    <input type="text" placeholder="Введите Email" name="email" required>

    <label><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <label><b>Повторите пароль</b></label>
    <input type="password" placeholder="Повторите Password" name="psw-repeat" required>
    <hr>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Регистрировать</button>
    <p>Уже есть аккаунт? <a href="login.html">Войти</a>.</p><br>
  </div>


</form>
</body>
</html>